<div class="contacts">

  <div class="contacts--title">
    <span>Контакты для связи</span>
    <div class="decorative">
    </div>
  </div>

  <div class="contacts--location">
    <mat-icon class="icon">location_on</mat-icon>
    <span>Россия, г.Калуга</span>
  </div>

  <div class="contacts--email">
    <mat-icon class="icon">email</mat-icon>
    <a (click)="sendEmail()">chibisovse@yandex.ru</a>
  </div>

  <div class="contacts--link">
    <mat-icon class="icon">link</mat-icon>
    <a class="github" href="https://github.com/CheeSerj">https://github.com/CheeSerj</a>
  </div>

  <div class="contacts--tel">
    <mat-icon class="icon">local_phone</mat-icon>
    <a (click)="call()">+79200923752</a>
  </div>
</div>
