$yellow: #ffdd2d;

.decorative {
  width: 150px;
  height: 15px;
  background: $yellow;
  border-radius: 10px 0 0 10px;
  margin-left: 20px;
}

.icon {
  color: $yellow;
  margin-right: 15px;
}

.circle {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2vw solid #ffdd2d;
  flex-direction: column-reverse;
}

.rectangle {
  width: 95px;
  height: 95px;
  border-radius: 25%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2vw solid #ffdd2d;
  flex-direction: column-reverse;
}
