$yellow: #ffdd2d;

@mixin geometric-figures{
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2vw solid #ffdd2d;
  flex-direction: column-reverse;
  font-size: 10px;
}


.decorative {
  width: 100px;
  height: 11px;
  background: $yellow;
  border-radius: 10px 0 0 10px;
  margin-left: 20px;
}

.icon {
  color: $yellow;
  margin-right: 10px;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  @include geometric-figures;
}

.rectangle {
  width: 65px;
  height: 65px;
  border-radius: 25%;
  @include geometric-figures;
}
