<div class="info">
<div class="info__full-name">
  <span>Чибисов Сергей</span>
</div>
<div class="info__job-title">
  Junior Frontend Developer
</div>
<div class="info__about-me">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque doloribus eveniet exercitationem numquam
  quibusdam tempora, ut. Corporis, delectus magni maiores mollitia porro possimus qui veritatis voluptatibus. Eveniet
  excepturi nisi nulla!
</div>

<div class="info__decor">
  <mat-icon class="content__decor--icon">code</mat-icon>
  <mat-icon class="content__decor--icon">code</mat-icon>
  <mat-icon class="content__decor--icon">code</mat-icon>
</div>

</div>
