<div class="info">
<div class="info__full-name">
  <span>Чибисов Сергей</span>
</div>
<div class="info__job-title">
  Frontend Developer
</div>
<div class="info__about-me">
  Здравствуйте!<br>
  Я Frontend разработчик из Калуги.<br>
  Работаю в компании АО "НПК ВТиСС" с января 2022. <br> Опыт в разработке ~ {{countDaysWork}} месяцев.<br>
  В работе использую: <br> JavaScript, TypeScript, Angular, RxJS, Git, SCSS <br>

  Владею различными операционными системами: Linux, Mac Os, Windows.
  Интересуюсь новыми веяниями в разработке.
</div>

<div class="info__decor">
  <mat-icon class="info__decor--icon">code</mat-icon>
  <mat-icon class="info__decor--icon">code</mat-icon>
  <mat-icon class="info__decor--icon">code</mat-icon>
</div>

</div>
