<div class="work-experience">
  Опыт работы
  <div class="decorative"></div>
</div>

<div class="work-experience__stepper">
  <mat-stepper orientation="vertical" >
    <mat-step *ngFor="let step of data">
      <ng-template class="stepper--label" matStepLabel>{{step.jobName}}</ng-template>
      <ng-template matStepContent>
        <p class="title">{{step.jobTitle}}</p>
        <p class="date">{{step.workDate}}</p>
        <p class="description">{{step.description}}</p>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-button matStepperNext>Дальше</button>
      </ng-template>
    </mat-step>
  </mat-stepper>
</div>
