<div class="knowledge">

  <div class="knowledge--title">
    <span>Знания</span>
    <div class="decorative">
    </div>
  </div>

  <div class="knowledge--technologies">
    <div class="knowledge--technologies--html">
      <div class="circle">
        <img class="technologies-icon" src="assets/html.svg">
      </div>
    </div>

    <div class="knowledge--technologies--css">
      <div class="circle">
        <img class="technologies-icon" src="assets/css2.svg">
      </div>
    </div>

    <div class="knowledge--technologies--angular">
      <div class="circle">
        <img class="technologies-icon" src="assets/angular.svg">
      </div>
    </div>


    <div class="knowledge--technologies--ts">
      <div class="circle">
        <img class="technologies-icon" src="assets/ts.svg">
      </div>
    </div>

    <div class="knowledge--technologies--js">
      <div class="circle">
        <img class="technologies-icon" src="assets/js.svg">
      </div>
    </div>

    <div class="knowledge--technologies--git">
      <div class="circle">
        <img class="technologies-icon" src="assets/git.svg">
      </div>
    </div>
  </div>
</div>
