/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
  height: 3px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: 3px rgba(54, 54, 54, 0.7);
}
