.container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  background: #ffffff;
}

::ng-deep .mat-icon {
  font-size: 30px;
  width: 40px !important;
  height: 40px !important;
}

.side-panel {
  width: 300px;
  background: black;
  border-radius: 15px;
  color: white;
  margin-bottom: 150px;

  &__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;

    &--img {
      position: absolute;
      top: 45px;
      width: 200px;
      border-radius: 45px;
    }
  }
}

.content {
  width: 600px;
  margin-bottom: 150px;
  height: 100vh;
  margin-left: 100px;
}
