<div class="container">
  <div class="side-panel">

    <div class="side-panel__photo">
      <img class="side-panel__photo--img" src="assets/photo2.png" alt="">
    </div>

    <div class="side-panel__contacts">

      <div class="side-panel__contacts--title">
        <span>Контакты для связи</span>
        <div class="side-panel__decorative">
        </div>
      </div>

      <div class="side-panel__contacts--location">
        <mat-icon class="side-panel__icon">location_on</mat-icon>
        <span>Россия, г.Калуга</span>
      </div>

      <div class="side-panel__contacts--email">
        <mat-icon class="side-panel__icon">email</mat-icon>
        <a
          onclick="window.location='mailto:chibisovse@yandex.ru?subject=' + window.location.href">chibisovse@yandex.ru</a>
      </div>

      <div class="side-panel__contacts--link">
        <mat-icon class="side-panel__icon">link</mat-icon>
        <span>aasdasdasd</span>
      </div>

      <div class="side-panel__contacts--tel">
        <mat-icon class="side-panel__icon">local_phone</mat-icon>
        <a onclick="window.open('tel:+79200923752')">+79200923752</a>
      </div>
    </div>

    <div class="side-panel__knowledge">

      <div class="side-panel__knowledge--title">
        <span>Знания</span>
        <div class="side-panel__decorative">
        </div>
      </div>

      <div class="side-panel__knowledge--technologies">
        <div class="side-panel__knowledge--technologies--html">
          <div class="side-panel__circle">
            <img class="technologies-icon" src="assets/html.svg">
          </div>
        </div>

        <div class="side-panel__knowledge--technologies--css">
          <div class="side-panel__circle">
            <img class="technologies-icon" src="assets/css2.svg">
          </div>
        </div>

        <div class="side-panel__knowledge--technologies--angular">
          <div class="side-panel__circle">
            <img class="technologies-icon" src="assets/angular.svg">
          </div>
        </div>


        <div class="side-panel__knowledge--technologies--ts">
          <div class="side-panel__circle">
            <img class="technologies-icon" src="assets/ts.svg">
          </div>
        </div>

        <div class="side-panel__knowledge--technologies--js">
          <div class="side-panel__circle">
            <img class="technologies-icon" src="assets/js.svg">
          </div>
        </div>

        <div class="side-panel__knowledge--technologies--git">
          <div class="side-panel__circle">
            <img class="technologies-icon" src="assets/git.svg">
          </div>
        </div>
      </div>

      <div class="side-panel__education">

        <div class="side-panel__education--title">
          <span>Образование</span>
          <div class="side-panel__decorative">
          </div>
        </div>


        <div class="side-panel__education--name">
          <mat-icon class="side-panel__icon">assignment</mat-icon>
          <span>г.Калуга, ККПУ</span>
          <span>Технолог общественного питания и услуг.</span>
        </div>
      </div>


      <div class="side-panel__hobbies">

        <div class="side-panel__hobbies--title">
          <span>Увлечения</span>
          <div class="side-panel__decorative">
          </div>
        </div>

        <div class="side-panel__hobbies--icons">
          <div class="side-panel__hobbies--icons--books">
            <div class="side-panel__rectangle">
              <span>Комиксы</span>
              <img class="hobbies-icon" src="assets/books.svg">
            </div>
          </div>

          <div class="side-panel__hobbies--icons--games">
            <div class="side-panel__rectangle">
              <span>Игры</span>
              <img class="hobbies-icon" src="assets/games.svg">
            </div>
          </div>

          <div class="side-panel__hobbies--icons--program">
            <div class="side-panel__rectangle">
              <span>Разработка</span>
              <img class="hobbies-icon" src="assets/program.svg">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="content">
  </div>
</div>
