<div class="container">
  <div class="side-panel">

    <div class="side-panel__photo">
      <img class="side-panel__photo--img" src="assets/photo2.png" alt="">
    </div>

    <div class="side-panel__contacts">

      <div class="side-panel__contacts--title">
        <span>Контакты для связи</span>
        <div class="decorative">
        </div>
      </div>

      <div class="side-panel__contacts--location">
        <mat-icon class="side-panel__icon">location_on</mat-icon>
        <span>Россия, г.Калуга</span>
      </div>

      <div class="side-panel__contacts--email">
        <mat-icon class="side-panel__icon">email</mat-icon>
        <a
          onclick="window.location='mailto:chibisovse@yandex.ru?subject=' + window.location.href">chibisovse@yandex.ru</a>
      </div>

      <div class="side-panel__contacts--link">
        <mat-icon class="side-panel__icon">link</mat-icon>
        <span>https://cheeserj.github.io/cv/cv</span>
      </div>

      <div class="side-panel__contacts--tel">
        <mat-icon class="side-panel__icon">local_phone</mat-icon>
        <a onclick="window.open('tel:+79200923752')">+79200923752</a>
      </div>
    </div>

    <div class="side-panel__knowledge">

      <div class="side-panel__knowledge--title">
        <span>Знания</span>
        <div class="decorative">
        </div>
      </div>

      <div class="side-panel__knowledge--technologies">
        <div class="side-panel__knowledge--technologies--html">
          <div class="side-panel__circle">
            <img class="technologies-icon" src="assets/html.svg">
          </div>
        </div>

        <div class="side-panel__knowledge--technologies--css">
          <div class="side-panel__circle">
            <img class="technologies-icon" src="assets/css2.svg">
          </div>
        </div>

        <div class="side-panel__knowledge--technologies--angular">
          <div class="side-panel__circle">
            <img class="technologies-icon" src="assets/angular.svg">
          </div>
        </div>


        <div class="side-panel__knowledge--technologies--ts">
          <div class="side-panel__circle">
            <img class="technologies-icon" src="assets/ts.svg">
          </div>
        </div>

        <div class="side-panel__knowledge--technologies--js">
          <div class="side-panel__circle">
            <img class="technologies-icon" src="assets/js.svg">
          </div>
        </div>

        <div class="side-panel__knowledge--technologies--git">
          <div class="side-panel__circle">
            <img class="technologies-icon" src="assets/git.svg">
          </div>
        </div>
      </div>

      <div class="side-panel__education">

        <div class="side-panel__education--title">
          <span>Образование</span>
          <div class="decorative">
          </div>
        </div>


        <div class="side-panel__education--name">
          <mat-icon class="side-panel__icon">assignment</mat-icon>
          <span>г.Калуга, ККПУ</span>
          <span>Технолог общественного питания и услуг.</span>
        </div>
      </div>


      <div class="side-panel__hobbies">

        <div class="side-panel__hobbies--title">
          <span>Увлечения</span>
          <div class="decorative">
          </div>
        </div>

        <div class="side-panel__hobbies--icons">
          <div class="side-panel__hobbies--icons--books">
            <div class="side-panel__rectangle">
              <span>Комиксы</span>
              <img class="hobbies-icon" src="assets/books.svg">
            </div>
          </div>

          <div class="side-panel__hobbies--icons--games">
            <div class="side-panel__rectangle">
              <span>Игры</span>
              <img class="hobbies-icon" src="assets/games.svg">
            </div>
          </div>

          <div class="side-panel__hobbies--icons--program">
            <div class="side-panel__rectangle">
              <span>Разработка</span>
              <img class="hobbies-icon" src="assets/program.svg">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="content__full-name">
      <span>Чибисов Сергей</span>
    </div>
    <div class="content__job-title">
      Junior Frontend Developer
    </div>
    <div class="content__about-me">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque doloribus eveniet exercitationem numquam quibusdam tempora, ut. Corporis, delectus magni maiores mollitia porro possimus qui veritatis voluptatibus. Eveniet excepturi nisi nulla!
    </div>

    <div class="content__decor">
      <mat-icon class="content__decor--icon">code</mat-icon>
      <mat-icon class="content__decor--icon">code</mat-icon>
      <mat-icon class="content__decor--icon">code</mat-icon>
    </div>

    <div class="content__work-experience">
      Опыт работы
      <div class="decorative"></div>
    </div>
    <div class="content__stepper">
      <mat-stepper orientation="vertical">
        <mat-step>
          <ng-template class="content__stepper--label" matStepLabel>АО НПК «ВТиСС»</ng-template>
          <ng-template matStepContent>
              <p>2022 - настоящее время</p>
            <p>This content was rendered lazily</p>
            <button mat-button matStepperNext>Next</button>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>ИП Виноградов</ng-template>
          <ng-template matStepContent>
            <p>This content was also rendered lazily</p>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>АО "Калуга Астрал"</ng-template>
          <p>This content was rendered eagerly</p>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>ИП Писаревский</ng-template>
          <p>This content was rendered eagerly</p>
          <button mat-button matStepperPrevious>Back</button>
        </mat-step>
      </mat-stepper>
    </div>

  </div>

</div>
